{% extends 'navigationbar.html'%}
<!--inherited this page to be visible here-->
{% block body %}
{% load static %}
<div class="container" style="margin-top:50px">
    <h2 class="text-center">Add Patient</h2>
    <br><br>
    <form  method="POST" action="">
        {% csrf_token %} <!-- cross site request forgery, django facility-->
        <label>Name</label>
        <input type="text" class="form-control" name="pat_name" placeholder="Enter Patient Name" required>
        <label>Gender</label><br>
        <input type="radio" name="pat_gen" value="Male"> Male
        <input type="radio" name="pat_gen" value="Female"> Female
        <input type="radio" name="pat_gen" value="Female"> Other <br>
        <label>Age</label>
        <input type="number" class="form-control" name="pat_age" placeholder="Enter Age" required>
        <label>Mobile</label>
        <input type="tel" class="form-control" name="pat_cont" placeholder="ex: 9394879810" required>
        <label>Address</label>
        <textarea class="form-control" name="pat_addr" placeholder="Enter address" required></textarea>
        <label>Email</label>
        <input type="email" class="form-control" name="pat_email" placeholder="ex: ram@gmail.com " required>
        <br>
        <input type="submit" value="Submit" class="form-control btn btn-primary">
    </form>
</div>

{% if error == "no" %}
<script>
    alert('Report saved Successfully');
    window.location.href = "{% url 'view_patient' %}";
</script>
{% elif error == "yes" %}
<script>
    alert('Something went wrong, Try Again!!');
    window.location.href = "{% url 'add_patient' %}";
</script>
{% endif %}

{% endblock%}